# LaTeX files
*.pdf
*.aux
*.log
*.out

*.cls

# LaTeX beamer
*.bcf
beamer_presentation/*.xml
*.snm
*.toc

# LaTeX biber
*.bbl
*.blg
*.nav

# Java files
bin/
build/
.project
.settings/
target/
lib/
*.jar
